@comments-area-width: 240px;
@comments-icon-width: 24px;
@comments-icon-margin: 20px;
@comments-column-width: (2*@comments-icon-margin + @comments-icon-width + @comments-area-width);

@border-color: #eee;

@avatar-size: 24px;

@comment-padding-v: 6px;
@comment-color: #666;
@comment-font-size: 12px;

@highlight-background: linear-gradient(to bottom, rgba(39, 243, 106, 0.1), rgba(39, 243, 106, 0.1));

.book .book-body .page-wrapper {
    .page-inner {
        position: relative;
        transition: 300ms ease left;

        section.normal {
            overflow: visible;
        }
    }

    .comments-section {
        position: relative;

        .comments-icon {
            position: absolute;
            display: none;

            right: -2*@comments-icon-margin;
            top: 0px;
            bottom: 0px;
            width: (@comments-icon-width + 2*@comments-icon-margin);

            .marker {
                background: #eee;
                padding: 4px;
                cursor: pointer;
                width: @comments-icon-width;
                float: right;
                font-size: @comment-font-size;
                height: @comments-icon-width;
                line-height: (@comments-icon-width - 8);
                text-align: center;
                border-radius: 3px;

                &:hover {
                    background: #ddd;
                }
            }
        }

        .comments-area {
            position: absolute;
            display: none;
            width: @comments-area-width;
            right: -@comments-column-width;
            top: 0px;
            font-size: @comment-font-size;

            input {
                width: 100%;
                resize: none;
                outline: none;
                border: none;
            }

            .comments-toolbar {
                margin-top: @comment-padding-v;

                a {
                    display: inline-block;
                    margin-right: @comment-padding-v;
                }
            }

            // List of threads
            .comments-threads {
                margin-bottom: 15px;

            }

            .thread {
                padding: 0px;
                padding-bottom: @comment-padding-v;
                margin-bottom: @comment-padding-v;
                border-bottom: 1px solid @border-color;
                cursor: pointer;

                &:hover {
                    .thread-body {
                        .thread-title {
                            text-decoration: underline;
                        }
                    }
                }

                .thread-body {
                    .thread-user {
                        color: @comment-color;
                    }

                    .thread-title {
                        font-weight: bold;
                    }
                }
            }

            // List of comments in a thread
            .comments-list {
                margin-bottom: 15px;
            }

            .comment {
                padding: 0px;
                padding-bottom: @comment-padding-v;
                margin-bottom: @comment-padding-v;
                border-bottom: 1px solid @border-color;

                .comment-avatar {
                    margin-top: 4px;
                    width: @avatar-size;
                    height: @avatar-size;
                    display: block;
                    overflow: hidden;
                    border-radius: @avatar-size;
                    float: left;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .comment-body {
                    margin-left: @avatar-size + @comment-padding-v;

                    .comment-user {
                        font-weight: bold;
                        color: inherit;
                    }

                    .comment-content {
                        color: @comment-color;
                    }
                }
            }
        }

        &.has-comments, &:hover {
            .comments-icon {
                display: block;
            }
        }

        &.has-comments-open {
            background-image: @highlight-background;

            .comments-icon {
                display: block;

                .marker {
                    background-image: @highlight-background;
                }
            }

            .comments-area {
                display: block;
            }
        }
    }
}